
.collapse {
    border: 1px solid #ccc;
    margin: 2rem 6rem 0 6rem;
    border:none;
    border-radius: 5px;
    overflow: hidden;
    position:relative;

}

.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    background-color: #FF6060;
    cursor: pointer;
    position: relative; /* Make sure the header is on top */
    z-index: 2; /* Ensure the header is above the content */

    h2 {
        margin: 0;
        font-size: 18px;
        color: white;
    }
}

.collapse-content {
    background-color: #F6F6F6;
    max-height: 0; 
    overflow: hidden; /* Ensure no content overflows */
   
    transform: translateY(-60px); /* Start slightly above */
    transition: all 0.5s; /* Smooth transitions */
    padding: 0 1rem; /* Add padding to ensure content is properly positioned */
    position: relative; /* Required for z-index to work */
    z-index: 1; /* Ensure content is below the header */
    ul {
        padding:0;
    }
    p {
        font-size: 18px;
        line-height: 25.67px;
    }
    
}

.collapse.open .collapse-content {
    max-height: 500px; 
    
    transform: translateY(0); /* Move to normal position */
}


.arrow {
    width: 32px; 
    height: 32px;
    cursor: pointer;
    background: none;
    border: none;
    display: inline-flex; /* Ensures the arrow aligns properly */
    align-items: center; /* Centers the pseudo-element vertically */
    justify-content: center; /* Centers the pseudo-element horizontally */
    transform-origin: center;
    transition: transform 0.5s;
    
    // animation
    &::before {
        content: '';
        background-image: url("../img/icon/arrow.png");
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s ease;
        
    }
    // rotate anim with open class
    &.open::before {
        transform: rotate(-180deg); /* Rotates the arrow to point upwards */
    }
}

@media screen and (max-width:600px) {
    .collapse {
        margin:0;
        margin-top:2rem;
        
        h2{
            font-size: 13px;
        }
        .collapse-content {
            p {
                font-size: 12px;
            }
            
        }
        
    }
    .arrow {
        width: 20px; 
        height: 20px;
    }
}