// src/styles/layout.scss

// font style import 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Variables
$primary-color: white;
$secondary-color: black;
$font-stack: 'Montserrat', sans-serif;

// Global styles
body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}
#root{
    display:flex;
    flex-direction: column;
    gap:50px;
}

// layout style 

header {
    margin:2rem 5rem 0 5rem;

    & > nav {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & > ul {
            display:flex;
            gap:3rem;

            & > li{
                list-style-type: none;
            }
        }
    }

}

main {
    margin: 0 5rem 0 5rem;
    display:flex;
    flex-direction: column;
    gap:5rem;
}

footer {
    background-color: $secondary-color;
    padding: 1rem;
    color: white;
    text-align: center;
}